<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134907197573-20hrb1ci8a8fasdl8tk5culm3j13lgpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134907197573-20hrb1ci8a8fasdl8tk5culm3j13lgpk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>134907197573-7fqpau38ev97kq8h7g9siakenmoh98ko.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0A3n4vwRugiSEvaR_6f1turmoOI-sitM</string>
	<key>GCM_SENDER_ID</key>
	<string>134907197573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ian.videosApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-videos-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-videos-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134907197573:ios:e4b8d484c10155b0a2d1ec</string>
</dict>
</plist>